{% extends 'layouts/base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sub2/segmentasi.css') }}">
{% endblock %}

{% block content %}

<div class="container mt-4">

    <!-- PAGE 1 -->
    <div class="page-section active">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="fw-bold mb-4">Rangkuman</h4>
                <h5 class="fw-bold">1. Konsep Dasar</h5>

                <p>
                    Region-based segmentation adalah metode yang membagi citra menjadi beberapa bagian:
                </p>

                <p>\[ R_1, R_2, ..., R_n \]</p>

                <p>
                    Pembagian dilakukan berdasarkan kesamaan karakteristik (homogenitas), seperti intensitas atau warna
                </p>
                <h5 class="fw-bold">2. Kriteria Segmentasi</h5>

                <p>
                    Agar hasil segmentasi benar, setiap region harus memenuhi:
                </p>

                <p>
                    Setiap region harus homogen:
                </p>

                <p>\[ Q(R_i)=TRUE \]</p>

                <p>
                    Region bertetangga tidak boleh digabung jika tidak homogen:
                </p>

                <p>\[ Q(R_i \cup R_j)=FALSE \]</p>

                <p><b>Keterangan:</b></p>
                <ul>
                    <li>\(R_i, R_j\)= region</li>
                    <li>\(Q\)= fungsi homogenitas</li>
                </ul>

                <p>
                    Artinya, region harus seragam dan sudah tidak bisa digabung lagi.
                </p>


            </div>
        </div>
    </div>



    <!-- PAGE 2 -->
    <div class="page-section">
        <div class="card shadow-sm">
            <div class="card-body">

                <h5 class="fw-bold">3. Region Merging</h5>

                <p>
                    Proses ini digunakan untuk menggabungkan region kecil menjadi lebih besar.
                </p>

                <p>
                    Penggabungan dilakukan jika masih memenuhi homogenitas:
                </p>

                <p>\[ Q(R_i \cup R_j)=TRUE \]</p>

                <p>
                    Biasanya menggunakan kriteria sederhana:
                </p>

                <p>\[ |\mu_i - \mu_j| \le T \]</p>

                <p><b>Keterangan:</b></p>
                <ul>
                    <li>\(\mu_i, \mu_j\)= rata-rata intensitas</li>
                    <li>\(T\)= threshold</li>
                </ul>

                <p>
                    Proses berhenti jika tidak ada lagi region yang bisa digabung.
                </p>

            </div>
        </div>
    </div>

    <!-- PAGE 3 -->
    <div class="page-section">
        <div class="card shadow-sm">
            <div class="card-body">

                <h5 class="fw-bold">4. Split and Merge</h5>

                <p>
                    Metode ini menggabungkan dua proses: pemecahan dan penggabungan.
                </p>

                <p>
                    Split (pemecahan): dilakukan jika region tidak homogen
                </p>

                <p>\[ Q(R_i)=FALSE \]</p>

                <p>
                    Merge (penggabungan): dilakukan jika region masih homogen
                </p>

                <p>\[ Q(R_i \cup R_j)=TRUE \]</p>

                <p>
                    Proses ini diulang sampai semua region stabil.
                </p>

                <h5 class="fw-bold">5. Post-Processing</h5>

                <p>
                    Setelah segmentasi, biasanya masih ada region kecil yang tidak penting.
                </p>

                <p>
                    Region kecil tersebut digabung dengan region yang paling mirip:
                </p>

            </div>
        </div>
    </div>



    <!-- PAGINATION -->
    <nav class="mt-4 d-flex justify-content-center">
        <ul class="pagination pagination-sm custom-pagination">

            <li class="page-item"><a class="page-link" onclick="prevPage()">Sebelumnya</a></li>

            <li class="page-item"><a class="page-link" onclick="goPage(0)">1</a></li>
            <li class="page-item"><a class="page-link" onclick="goPage(1)">2</a></li>
            <li class="page-item"><a class="page-link" onclick="goPage(2)">3</a></li>


            <li class="page-item"><a class="page-link" onclick="nextPage()">Selanjutnya</a></li>

        </ul>
    </nav>

</div>
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>

{% endblock %}